body {
	background:#faf4f4;
	font-family:verdana;
	margin:0;
}

.ul_menu {
	margin:0;
	padding:0;
	list-style:none;
}
.ul_menu li {
	float:left;
}
.ul_menu li a {
	display:block;
	text-decoration:none;
	margin-left:5px;
	padding:10px;
	line-height:25px;
	color:black;
}

.ul_menu li a:hover {
	color:gray;
}
.menu {
	color:black!important;
}
.menu_active {
	color:red!important;
}
header {
	width:100%;
	background:black;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}
header h1, h3, h4 {
	margin:0;
}
header h4 {
	color:#b1dbf0;
}
#inter-header {
	margin-left:18px;
}
nav {
	border-bottom:1px solid silver;
	height:44px;
}